:root {
    --primaryBackgroundColour: #4C5252;
    --secondaryBackgroundColour: #3B4040;
    --accentColour: #5CECEC;
    
    --backgroundColourLight: #e1ebeb;
    --accentColourLight: #096969;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background-color: var(--primaryBackgroundColour);
}

#mainTitleBar {
    background-color: var(--secondaryBackgroundColour);
    color: var(--accentColour);
    display: absolute;
    height: 75px;
    width: auto;
}

#mainTitleBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
